
@import './base/reset.css';
@import './base/variables.css';
@import './base/utilities.css';

@import './components/Sidebar.css';
@import './components/Login.css';
@import './components/Dashboard.css';
@import './components/Page.css';
@import './components/SearchResults.css';
@import './components/Modal.css';
@import './components/Tables.css';
@import './components/AccountPage.css';

[data-theme="light"] {
  @import './themes/light.css';
}

[data-theme="dark"] {
  @import './themes/dark.css';
}